[Unit]
Description=Update feeds
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sh -c "sleep 300; feed-update"
Nice=19
IOSchedulingClass=idle

[Install]
WantedBy=default.target
